$accent-color: rgb(233, 71, 71);
$secondary-bg: rgb(54, 54, 54);
$secondary-text: rgb(217, 217, 217);

@mixin box-style {
  box-sizing: border-box;
  background-color: $secondary-bg;
  width: 100%;
  padding: 25px;
  position: fixed;
}

header {
  @include box-style;
  top: 0;
  height: 15vh;
  h2,
  h3 {
    color: $accent-color;
  }
  .month {
    display: flex;
    justify-content: space-between;
    button {
      color: white;
      background-color: rgba(97, 97, 97, 0.594);
      border: 2px solid rgb(128, 128, 128);
      border-radius: 50%;
      align-self: center;
      width: 40px;
      height: 40px;
      margin: 10px;
    }
  }
}
main{
  margin: auto;
  width:97%;
  flex-shrink:1;
.weekdays {
  margin-top: 15vh;
  margin-bottom: 5vh;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 3rem;
  padding-top: 1.5rem;
  background-color: $secondary-bg;
  border-top: 0.8px solid rgb(117, 115, 115);
  span {
    color: white;
    height: 3rem;
    width: 3rem;

  }
}
.dates {
  display: flex;
  flex-wrap: wrap;
  .date {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 7);
    height: 100px;
    align-self: center;
    border-bottom: 1.5px solid rgb(190, 189, 189);
  }
}
.daysOfDiffMonths {
  background-color: $secondary-bg;
  color: $secondary-text;
}
.today {
  background-color: $accent-color;
}
}
footer {
  @include box-style;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  background-color: $secondary-bg;
  align-items: center;

  //чому не працює?
}
button {
  background-color: inherit;
  color: $accent-color;
  border: none;
  font-size: 30px;
  cursor: pointer;
}
.hasTask{ 
  background-color: rgba(248, 171, 28, 0.732)
}
